@model WebApp.Models.HijoViewModel
@{
    Contratos.UsuarioLogueado loggedUser = ViewBag.User as Contratos.UsuarioLogueado;
}

<h2>@ViewBag.Title</h2>
<hr />

<form method="post" action="">
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-header">Información del padre</div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="control-label">Nombre y apellido</label>
                        <div>@Model.Usuario.Nombre  @Model.Usuario.Apellido</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <div>@Model.Usuario.Email</div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="submit" name="" value="Guardar asignación" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-header">Alumnos de la institución</div>
                <div class="ibox-content">
                    @for (int i = 0; i < Model.Hijos.Length; i++)
                    {
                        <div class="form-group">
                            <input type="hidden" name="Model.Hijos[@i].Id" value="@Model.Hijos[i].Id" />
                            <div><input type="checkbox" name="Model.Hijos[@i].Selected" @(Model.Hijos[i].Selected ? "checked" : "") value="true" /> @Model.Hijos[i].Nombre @Model.Hijos[i].Apellido</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</form>